@tailwind base;
@tailwind components;
@tailwind utilities;

.ection{
color: rgb(248, 252, 252);
}
:root {
   --scrollbar-track-color: #f1f1f1;
   --scrollbar-thumb-color: #c778dd;
   --scrollbar-width:8px;
 }
.typewriter-text{
   color: #c778dd;
}
 body::-webkit-scrollbar {
   width: var(--scrollbar-width);
 }
 
 body::-webkit-scrollbar-track {
   background-color: var(--scrollbar-track-color);
 }
 
 body::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-thumb-color);
 }
 
.scroll-to-top {
  background-color: #c778dd !important;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 3;
  cursor: pointer;
  border-radius: 3px;
  width: 35px !important;
  height: 35px !important;
  box-shadow: 0 9px 25px 0 rgba(153, 74, 243, 0.562);
  border: none;
}

  
    

 